.sousmenu{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;
    font-family: $font;
    margin-bottom: 1rem;

    a{
        color: $grey;

        &:hover{
            color:$black;
        }
    }
}


.defi{
    padding: 1rem 0;
    width: 94vw;
    border-radius: 0.5rem;
    font-family: $font;
    margin-bottom: 1.5rem;
    overflow: hidden;


    h4{
        margin: 0;
        padding: 0.5rem 1rem;
        color:$white;
        font-size: 1.4rem;
        line-height: 1.5rem;
        width: 35vh;
        font-family: $font_bold;
    }
    p{
        margin: 0;
        color:$white;
        font-size: 0.6rem;
        padding: 0 1rem;
    }

    .time{
        display: inline-flex;
        margin-left: 1rem;
        padding: 0.2rem 0.6rem;
        background-color: $white;
        border-radius: 0.2rem;
        margin-top: 0.5rem;
    
    img{
        width: 3vw;
    }
    p{
        color: $black;
    }
    }

}