.edit_profil{
    left: 0;
    background-color: $white;
    z-index: -5;

    h2{
        margin: 0 auto;
        margin: 5vw;

    }

.bloc_profil{
    display: flex;
    z-index: 5;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    height:10vh;

    div{

        width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content:center;

    h4{
    font-size: 1.5rem;
    font-family: $font_bold; 
    margin:0 1rem;
    width: 70vh;
    white-space: nowrap;

    }


}

img{
    width:20vw;
    border-radius: 50%;
    margin-left: 2rem;
    filter: blur(1px);
}

}

form{

    margin-top: 20vh;    
    display: flex;
    margin-left: 10vw;
    width: 80vw;
    flex-direction: column;

    label{
        font-size: 0.6rem;
        color: $grey;
    }
    input{
        margin: 0.5rem 0rem;
        border-top:none;
        border-left:none;
         border-right: none;
        border-bottom: solid 1px $black;
        line-height: 2rem;

        ::placeholder{
           color:$black;
           font-size: 1.2rem; 
        }
    }
}

}
