.root{
    width: 100vw;
}

.home {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav_menu {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5vh;

    background-color: $white;

    div {
      height: 7vw;
      width: 7vw;
    }
    .img1 {
      background-image: url("/nav/home.svg");
      background-size: 7vw;
    }

    .img1_b {
      background-image: url("/nav/home_full.svg");
      background-size: 7vw;
    }

    .img2 {
      background-image: url("/nav/plus.svg");
      background-size: 7vw;
    }

    .img2_b {
      background-image: url("/nav/plus_full.svg");
      background-size: 7vw;
    }

    .img3 {
      background-image: url("/nav/subscriptions.svg");
      background-size: 7vw;
      background-repeat: no-repeat;
    }

    .img3_b {
      background-image: url("/nav/subscriptions_full.svg");
      background-size: 7vw;
      background-repeat: no-repeat;
    }

    .img4 {
      background-image: url("/nav/defi.svg");
      background-size: 7vw;
    }

    .img4_b {
      background-image: url("/nav/achievement_full.svg");
      background-size: 7vw;
    }
  }

  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    top: 0;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    background-color: $white;
    padding: 0 2rem;

    button {
      width: 5vw;
      height: 5vw;
      border: none;
      background-color: $white;
      background-image: url("/logout/logout.svg");
      background-size: 5vw;
      background-repeat: no-repeat;
      margin-top: 0.2rem;
    }
    .avatar {
      width: 6vw;
      height: 6vw;
      background-color: $white;
      background-image: url("/logout/avatar.svg");
      background-size: 6vw;
      background-repeat: no-repeat;
    }
  }

  .en-tete {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;

    h2 {
      font-size: 2rem;

      margin-left: 2rem;
    }
  }
}




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////HOME//////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.publications_on_home{
    padding-bottom: 6vh;
    width: 100vw;
    background-color: #F1F2F6;
   
    .post{
        max-width: 88vw;
        max-height: 50vh;

        background-color: $white;
        margin: 0 auto;
        border-radius: 0.8rem;

        p{
            text-align: left;
            margin-left: 0.5rem;
        }

        .likes{
            margin-left: 1rem;
        }


        .infos{
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
            margin-top: 2rem;
            height: 8vh;
            align-items: center;
            
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                h4{
                    font-size: 1rem;
                    line-height: 0;
                    margin-bottom: 0;
                    margin-top: 0.9rem;
                    margin-left: 0.4rem;
                }
                p{
                font-size: 0.5rem;
                color: $grey;
                line-height: 1rem;
            }
        }
div{
    height: 5vh;
    img{
    width:10vw;
    border-radius: 50%;
     }
}
       
        }
    
            .container_img_home{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 80%;
                width: 95%;
                margin: 0 auto;
                overflow: hidden;
                object-fit: cover;
                        .imageForm{
                            width: 83vw;
                            object-fit: contain;
                            border-radius: 0.3rem;
                        }
            }
        
    }

    .likes{
        display: flex;


.imgLike {
    width: 20px;
    margin-right: 5px;
  }
    }

  

}