.retour{
    color:$black;
    text-decoration-line: none;
    font-size: 0.8rem;
}

.btn-blue{
    background-color: $lightblue;
    border-radius: 0.2rem;
    color:$white;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    text-decoration-line: none;
}